.container__titulo{
    display: none;
}

.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../img/menu_black_24dp\ 1.svg);
}

.container__botao:checked ~ .container__rotulo{
    background: var(--cor-azul);
}


.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 43vw;
    z-index: 100;
}

.container__botao:checked ~.lista-menu{
    display: block;
}

.lista-menu__titulo{
    color: var(--cor-fonte-titulo);
    font-weight: 700;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__link{
    text-decoration: none;
    color: var(--cor-azul);
    background-clip: text;
    text-transform: uppercase;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}


@media screen and (min-width: 1024px){
    .cabecalho{
        padding: 0 3em;
    }
    
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: #000;
    }

    .container__imagem--transparente{
        display: none;
    }
    
    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__button:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__button{
        display: none;
    }

    .opcoes__button:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--cor-azul);
        color: #fff;
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--cor-azul);
        color: #fff;
    }
    
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        text-decoration: none;
    }

    .container__texto{
        display: flex;
        align-items: center;
        color: #000;
        font-size: 20px;
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

}

