.topicos{
    background: var(--cor-azul);
    text-align: center;
    width: 100%;
    padding: 1em 0;
}

.topicos__titulo{
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px;
}

.topicos__item{
    border: 2px solid var(--cor-fonte-titulo);
    background-color: var(--cor-fonte-titulo);
    padding: 1em 0.9em;
}

.topicos__link{
    font: 14px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    text-decoration: none;
    color: var(--cor-branco);
}

@media screen and (min-width: 1024px) {
    .topicos{
        height: 332px;
    }

    .topicos__titulo{
        font-size: 24px;
        margin-top: 2em;
    }

    .topicos__lista{
        margin: 2em 4em;
    }

    .topicos__item{
        padding: 24px 32px 24px 32px;
        font-size: 24px;
    }

}

@media screen and (min-width: 1728px) {
    .topicos{
        padding: 1em 6em 1em 0;
    }
}